.c-character {
    &__img {
        width: 250px;
        height: 320px;
        background-position: top;
        background-size: cover;
        object-fit: cover;
        object-position: top;
    }
    &__name {
        font-size: 36px;
    }
    &__row {
        margin: 0 80px;
    }
    &__info {
        text-align: center;
    }
    &__title-desc {
        font-size: 24px;
        font-family: 'got1';
    }
    &__text {
        font-size: 16px;
    }
}

ngx-simplebar {
    height: 320px;
}

::ng-deep .simplebar-scrollbar::before {
    background-color: white !important;
}