.c-home {
  background-image: url("../../../assets/images/got-iron-throne.jpg") ;
  background-size: cover;
  background-position: center center;
  &__title {
    font-family: "got1";
    font-size: 10vw;
    // text-align: center;
  }
  &__container {
    height: 650px;
    display:flex;
    justify-content: center;
    align-items: center;
  
  }
}