.c-houses {
    margin: 0 80px;
    &__house {
        margin: 20px 0 00;
    }
    &__link {
        text-decoration: none;
        color: var(--color-white);
    }
    &__img {
        align-self: center;
        width: 80%;
    }
    &__text {
        text-align: center;
    }
}

ngx-simplebar {
    height: 72vh;
}

simplebar-scrollbar {
    color: red;
}

.border {
    border: solid 1px red;
}

::ng-deep .simplebar-scrollbar::before {
    background-color: white !important;
}