body {
  // background-color: var(--color-background);
  background-image: url(../../assets/images/got-iron-throne.jpg) ;
  background-size: cover;
  background-position: center center;

  color: var(--color-primary);
}
