@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins/breakpoints";
.c-chrono {
    margin: 35px 90px 35px 156px;
    text-align: center;
    position: relative;
    @include media-breakpoint-down(xl) {
        margin: 35px 47px 35px 80px;
    }
    &__container {
        margin-right: 66px;
        @include media-breakpoint-down(xl) {
            margin-right: 33px;
        }
    }
    &__img {
        object-position: top;
        width: 100px;
        height: 100px;
        object-fit: cover;
        border-radius: 50%;
    }
}

ngx-simplebar {
    height: 72vh;
}

 ::ng-deep .simplebar-scrollbar::before {
    background-color: white !important;
}

// Styles chronology
*,
*::before,
*::after {
    box-sizing: border-box;
}

.timeline {
    position: relative;
    width: 70%;
    max-width: 1140px;
    margin: 0 auto;
}

.timeline::after {
    content: '';
    position: absolute;
    width: 2px;
    background: #ffffff;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -1px;
}

.contenedor {
    padding: 15px 30px;
    position: relative;
    background: inherit;
    width: 50%;
}

.contenedor.left {
    left: 0;
}

.contenedor.right {
    left: 50%;
}

.contenedor.right::after {
    left: -8px;
}

.contenedor::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    top: 0px;
    right: 0px;
    background: #ffffff;
    z-index: 1;
}

.contenedor.right::before {
    left: 0px;
}

.contenedor .content {
    padding: 0px 30px 0px 30px;
    position: relative;
}

.contenedor.right .content {
    padding: 0px 30px 0px 30px;
}

.contenedor .content p {
    margin: 0;
    font-size: 16px;
    line-height: 22px;
    color: #ffffff;
}

@media (max-width: 767.98px) {
    .timeline::after {
        left: 90px;
    }
    .contenedor {
        width: 100%;
        padding-left: 30px;
        padding-right: 30px;
    }
    .contenedor.right {
        left: 0%;
    }
    .contenedor.left::after,
    .contenedor.right::after {
        left: 82px;
    }
    .contenedor.left .content,
    .contenedor.right .content {
        padding: 0px 30px 0px 30px;
    }
    .timeline::after {
        background: transparent;
    }
}