.c-gallery {
    margin: 0 80px;
    &__div {
        position: relative;
    }
    &__img {
        // max-height: 320px;
        width: 250px;
        height: 320px;
        background-position: top;
        background-size: cover;
        object-fit: cover;
        object-position: top;
    }
    &__item {
        cursor: pointer;
    }
    &__title {
        position: absolute;
        bottom: -15px;
        background: rgba(0, 0, 0, 0.5);
        width: 100%;
        height: 50px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

ngx-simplebar {
    height: 80vh;
}

::ng-deep .simplebar-scrollbar::before {
    background-color: white !important;
}