* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
 .c-header {
     background-color: black;
     width: 100%;
     height: 90px;
     display: flex;
     justify-content: space-between;
     color: #fff;

     &__buscar {
         margin-left: 15%;
         margin-top: 30px;
         border-bottom: #fff;

     }
     &__text {
         width: 400px;
         background-color: black;
color: #fff;
         outline: none;
  border: 0;
     }
     &__p {
         border-bottom: #fff;
         width: 100px;
         color: blue;
     }
      
 }

