@import "variables";

@font-face {
  font-family: '#{$icomoon-font-family}';
  src:
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?puuqau') format('truetype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?puuqau') format('woff'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?puuqau##{$icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-uk .path1 {
  &:before {
    content: $icon-uk-path1;  
    color: rgb(65, 71, 155);
  }
}
.icon-uk .path2 {
  &:before {
    content: $icon-uk-path2;  
    margin-left: -1em;  
    color: rgb(245, 245, 245);
  }
}
.icon-uk .path3 {
  &:before {
    content: $icon-uk-path3;  
    margin-left: -1em;  
    color: rgb(255, 75, 85);
  }
}
.icon-uk .path4 {
  &:before {
    content: $icon-uk-path4;  
    margin-left: -1em;  
    color: rgb(255, 75, 85);
  }
}
.icon-uk .path5 {
  &:before {
    content: $icon-uk-path5;  
    margin-left: -1em;  
    color: rgb(255, 75, 85);
  }
}
.icon-uk .path6 {
  &:before {
    content: $icon-uk-path6;  
    margin-left: -1em;  
    color: rgb(255, 75, 85);
  }
}
.icon-uk .path7 {
  &:before {
    content: $icon-uk-path7;  
    margin-left: -1em;  
    color: rgb(255, 75, 85);
  }
}
.icon-spain .path1 {
  &:before {
    content: $icon-spain-path1;  
    color: rgb(200, 65, 75);
  }
}
.icon-spain .path2 {
  &:before {
    content: $icon-spain-path2;  
    margin-left: -1em;  
    color: rgb(200, 65, 75);
  }
}
.icon-spain .path3 {
  &:before {
    content: $icon-spain-path3;  
    margin-left: -1em;  
    color: rgb(255, 210, 80);
  }
}
.icon-spain .path4 {
  &:before {
    content: $icon-spain-path4;  
    margin-left: -1em;  
    color: rgb(200, 65, 75);
  }
}
.icon-spain .path5 {
  &:before {
    content: $icon-spain-path5;  
    margin-left: -1em;  
    color: rgb(245, 245, 245);
  }
}
.icon-spain .path6 {
  &:before {
    content: $icon-spain-path6;  
    margin-left: -1em;  
    color: rgb(250, 180, 70);
  }
}
.icon-spain .path7 {
  &:before {
    content: $icon-spain-path7;  
    margin-left: -1em;  
    color: rgb(200, 65, 75);
  }
}
.icon-spain .path8 {
  &:before {
    content: $icon-spain-path8;  
    margin-left: -1em;  
    color: rgb(200, 65, 75);
  }
}
.icon-spain .path9 {
  &:before {
    content: $icon-spain-path9;  
    margin-left: -1em;  
    color: rgb(200, 65, 75);
  }
}
.icon-spain .path10 {
  &:before {
    content: $icon-spain-path10;  
    margin-left: -1em;  
    color: rgb(245, 245, 245);
  }
}
.icon-spain .path11 {
  &:before {
    content: $icon-spain-path11;  
    margin-left: -1em;  
    color: rgb(200, 65, 75);
  }
}
.icon-spain .path12 {
  &:before {
    content: $icon-spain-path12;  
    margin-left: -1em;  
    color: rgb(200, 65, 75);
  }
}
.icon-spain .path13 {
  &:before {
    content: $icon-spain-path13;  
    margin-left: -1em;  
    color: rgb(250, 180, 70);
  }
}
.icon-spain .path14 {
  &:before {
    content: $icon-spain-path14;  
    margin-left: -1em;  
    color: rgb(200, 65, 75);
  }
}
.icon-spain .path15 {
  &:before {
    content: $icon-spain-path15;  
    margin-left: -1em;  
    color: rgb(200, 65, 75);
  }
}
.icon-spain .path16 {
  &:before {
    content: $icon-spain-path16;  
    margin-left: -1em;  
    color: rgb(255, 180, 65);
  }
}
.icon-spain .path17 {
  &:before {
    content: $icon-spain-path17;  
    margin-left: -1em;  
    color: rgb(250, 180, 70);
  }
}
.icon-spain .path18 {
  &:before {
    content: $icon-spain-path18;  
    margin-left: -1em;  
    color: rgb(250, 180, 70);
  }
}
.icon-spain .path19 {
  &:before {
    content: $icon-spain-path19;  
    margin-left: -1em;  
    color: rgb(245, 245, 245);
  }
}
.icon-spain .path20 {
  &:before {
    content: $icon-spain-path20;  
    margin-left: -1em;  
    color: rgb(250, 180, 70);
  }
}
.icon-spain .path21 {
  &:before {
    content: $icon-spain-path21;  
    margin-left: -1em;  
    color: rgb(250, 180, 70);
  }
}
.icon-spain .path22 {
  &:before {
    content: $icon-spain-path22;  
    margin-left: -1em;  
    color: rgb(80, 100, 170);
  }
}
.icon-spain .path23 {
  &:before {
    content: $icon-spain-path23;  
    margin-left: -1em;  
    color: rgb(250, 180, 70);
  }
}
.icon-spain .path24 {
  &:before {
    content: $icon-spain-path24;  
    margin-left: -1em;  
    color: rgb(80, 100, 170);
  }
}
.icon-spain .path25 {
  &:before {
    content: $icon-spain-path25;  
    margin-left: -1em;  
    color: rgb(250, 180, 70);
  }
}
.icon-spain .path26 {
  &:before {
    content: $icon-spain-path26;  
    margin-left: -1em;  
    color: rgb(255, 180, 65);
  }
}
.icon-spain .path27 {
  &:before {
    content: $icon-spain-path27;  
    margin-left: -1em;  
    color: rgb(245, 245, 245);
  }
}
.icon-spain .path28 {
  &:before {
    content: $icon-spain-path28;  
    margin-left: -1em;  
    color: rgb(245, 245, 245);
  }
}
.icon-spain .path29 {
  &:before {
    content: $icon-spain-path29;  
    margin-left: -1em;  
    color: rgb(245, 245, 245);
  }
}
.icon-spain .path30 {
  &:before {
    content: $icon-spain-path30;  
    margin-left: -1em;  
    color: rgb(245, 245, 245);
  }
}
.icon-spain .path31 {
  &:before {
    content: $icon-spain-path31;  
    margin-left: -1em;  
    color: rgb(250, 180, 70);
  }
}
.icon-spain .path32 {
  &:before {
    content: $icon-spain-path32;  
    margin-left: -1em;  
    color: rgb(255, 160, 210);
  }
}
.icon-spain .path33 {
  &:before {
    content: $icon-spain-path33;  
    margin-left: -1em;  
    color: rgb(80, 100, 170);
  }
}
.icon-spain .path34 {
  &:before {
    content: $icon-spain-path34;  
    margin-left: -1em;  
    color: rgb(250, 180, 70);
  }
}
.icon-spain .path35 {
  &:before {
    content: $icon-spain-path35;  
    margin-left: -1em;  
    color: rgb(200, 65, 75);
  }
}
.icon-spain .path36 {
  &:before {
    content: $icon-spain-path36;  
    margin-left: -1em;  
    color: rgb(255, 210, 80);
  }
}
.icon-spain .path37 {
  &:before {
    content: $icon-spain-path37;  
    margin-left: -1em;  
    color: rgb(255, 210, 80);
  }
}
.icon-spain .path38 {
  &:before {
    content: $icon-spain-path38;  
    margin-left: -1em;  
    color: rgb(255, 210, 80);
  }
}
.icon-spain .path39 {
  &:before {
    content: $icon-spain-path39;  
    margin-left: -1em;  
    color: rgb(200, 65, 75);
  }
}
.icon-spain .path40 {
  &:before {
    content: $icon-spain-path40;  
    margin-left: -1em;  
    color: rgb(200, 65, 75);
  }
}
.icon-home {
  &:before {
    content: $icon-home; 
  }
}

