$icomoon-font-family: "got-icons" !default;
$icomoon-font-path: "fonts" !default;

$icon-left-arrow: "\e930";
$icon-down-arrow: "\e931";
$icon-uk-path1: "\e900";
$icon-uk-path2: "\e901";
$icon-uk-path3: "\e902";
$icon-uk-path4: "\e903";
$icon-uk-path5: "\e904";
$icon-uk-path6: "\e905";
$icon-uk-path7: "\e906";
$icon-spain-path1: "\e907";
$icon-spain-path2: "\e908";
$icon-spain-path3: "\e909";
$icon-spain-path4: "\e90a";
$icon-spain-path5: "\e90b";
$icon-spain-path6: "\e90c";
$icon-spain-path7: "\e90d";
$icon-spain-path8: "\e90e";
$icon-spain-path9: "\e90f";
$icon-spain-path10: "\e910";
$icon-spain-path11: "\e911";
$icon-spain-path12: "\e912";
$icon-spain-path13: "\e913";
$icon-spain-path14: "\e914";
$icon-spain-path15: "\e915";
$icon-spain-path16: "\e916";
$icon-spain-path17: "\e917";
$icon-spain-path18: "\e918";
$icon-spain-path19: "\e919";
$icon-spain-path20: "\e91a";
$icon-spain-path21: "\e91b";
$icon-spain-path22: "\e91c";
$icon-spain-path23: "\e91d";
$icon-spain-path24: "\e91e";
$icon-spain-path25: "\e91f";
$icon-spain-path26: "\e920";
$icon-spain-path27: "\e921";
$icon-spain-path28: "\e922";
$icon-spain-path29: "\e923";
$icon-spain-path30: "\e924";
$icon-spain-path31: "\e925";
$icon-spain-path32: "\e926";
$icon-spain-path33: "\e927";
$icon-spain-path34: "\e928";
$icon-spain-path35: "\e929";
$icon-spain-path36: "\e92a";
$icon-spain-path37: "\e92b";
$icon-spain-path38: "\e92c";
$icon-spain-path39: "\e92d";
$icon-spain-path40: "\e92e";
$icon-home: "\e92f";

