@font-face {
  font-family: "got";
  src: url("/src/assets/fonts/GOT/GameOfThrones.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "lato";
  src: url("/src/assets/fonts/Lato/Lato-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "georgia";
  src: url("/src/assets/fonts/georgia/georgia.ttf");
  font-weight: 400;
  font-style: normal;
}
